$base-font: 'Open Sans', sans-serif;
$header-font: 'Titillium Web', sans-serif;

$background-color: #ebeaee;
$header-color: #557a95;
$highlight-color: #7395ae;
$font-color: #5d5c61;
$placeholder-font-color: #938e93;
$border-color: #938e93;
$header-font-color: #fff;
$div-background-color: #fff;
$gold-color: #d4af37;
$silver-color: #c0c0c0;
$bronze-color: #9f7a34;
$warning-color: #e27d60;

$default-padding: 10px;
$border: 1px solid $border-color;
$border-radius: 5px;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

$header-height: 60px;
