body {
  background-color: #ebeaee;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #5d5c61;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */

#main-header {
  background-color: #5d5c61;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.header-left {
  width: 120px;
}

.navbar {
  height: 60px;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.navbar-link {
  height: 60px;
  min-width: 90px;
  max-width: 120px;
  flex-basis: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar-link .navbar-link-active {
  height: 3px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  background-color: #ebeaee;
  visibility: hidden;
}

.navbar-link:hover .navbar-link-active {
  visibility: visible;
}

.main-header-icon {
  height: 40px;
  width: 40px;
  margin: auto;
}

.user-header {
  width: 120px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.user-interaction {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.user-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  width: 240px;
  background-color: #fff;
  border: 1px solid #938e93;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-data span {
  display: block;
  font-family: 'Titillium Web', sans-serif;
}

.full-name {
  font-size: 1.2em;
  font-weight: 600;
}

.username {
  margin-top: -4px;
  margin-left: 12px;
  font-weight: 200;
  font-style: italic;
}

.user-panel>div {
  padding: 10px;
}

.user-panel .divider, .user-data-action-group {
  border-top: 1px solid #938e93;
}

.user-panel .divider {
  background-color: #557a95;
  color: #fff;
  text-transform: uppercase;
}

.user-data-action {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.user-data-action:first-child {
  margin-top: 0px;
}

.user-data-action:last-child {
  margin-bottom: 0px;
}

.user-data-action:hover {
  color: #7395ae;
}

/* Main content area */

.app-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}

/* Dashboard */

.dashboard-filter {
  display: flex;
  flex-direction: column;
  width: 680px;
  background-color: #557a95;
  border: 1px solid #938e93;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
}

.dashboard-toggle {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
}

.toggle-caption {
  display: block;
  width: 50%;
  margin: auto;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.toggle-caption.active {
  font-weight: 600;
}

.toggle-icon {
  width: 40px;
  height: 40px;
}
