/* General styles */

body {
  background-color: #ebeaee;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #5d5c61;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}

.divider {
  background-color: #557a95;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.hidden {
  visibility: hidden;
}

/* Header */

#main-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #557a95;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.header-left {
  width: 120px;
}

.navbar {
  height: 60px;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.navbar-link {
  height: 60px;
  min-width: 90px;
  max-width: 120px;
  flex-basis: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar-link .navbar-link-active {
  height: 3px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  background-color: #ebeaee;
  visibility: hidden;
}

.navbar-link:hover .navbar-link-active {
  visibility: visible;
}

.main-header-icon {
  height: 40px;
  width: 40px;
  margin: auto;
}

.user-menu {
  width: 120px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.user-interaction {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.user-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  width: 240px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #938e93;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-data span {
  display: block;
  font-family: 'Titillium Web', sans-serif;
}

.full-name {
  font-size: 1.2em;
  font-weight: 600;
}

.username {
  margin-top: -4px;
  margin-left: 12px;
  font-weight: 200;
  font-style: italic;
}

.user-panel>div {
  padding: 10px;
}

.user-panel .divider, .user-data-action-group {
  border-top: 1px solid #938e93;
}

.user-data-action:not(:first-child):not(:last-child) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-data-action a,
.user-data-action a:active,
.user-data-action a:visited,
.user-data-action span {
  color: #5d5c61;
  cursor: pointer;
}

.user-data-action a:hover,
.user-data-action span:hover {
  color: #7395ae;
  cursor: pointer;
}

/* Main content area */

.app-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}

/* Dashboard menu */

.dashboard-menu {
  position: fixed;
  top: 100px;
  left: 40px;
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: #fff;
  border: 1px solid #938e93;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
}

.dashboard-menu>div {
  padding: 10px;
}

.dashboard-menu-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dashboard-search {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 1px solid #938e93;
  border-radius: 5px;
  cursor: text;
}

.dashboard-search input {
  display: block;
  min-width: 100px;
  border: 0 solid #fff;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #5d5c61;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.cancel-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  cursor: pointer;
}

.dashboard-toggle-option {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.dashboard-toggle-option:hover {
  color: #7395ae;
}

.dashboard-toggle-option>span {
  display: block;
  padding-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.toggle-icon {
  width: 40px;
  height: 40px;
}

.dashboard-sort {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}

.dashboard-sort.open {
}

.dashboard-sort>span {
  flex-grow: 1;
}

.sort-icon {
  width: 20px;
  height: 20px;
  flex-grow: 0;
}

.dashboard-sort-menu {
  position: absolute;
  top: 100%;
  width: 200px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #938e93;
}

.dashboard-sort-option {
  display: block;
  padding: 5px;
}

.dashboard-sort-option:hover {
  color: #7395ae;
}

/* Common styles */

.poll-overview,
.poll-detailed,
.new-poll,
.user {
  width: 680px;
  background-color: #fff;
  border: 1px solid #938e93;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.poll-overview:first-child,
.poll-detailed,
.new-poll,
.user:first-child,
.avatar-picker {
  margin-top: 100px;
}

.poll-header,
.stat-header {
  padding: 10px;
  background-color: #557a95;
  border-bottom: 1px solid #938e93;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* Poll styles */

.poll-overview .poll-header {
  background-color: #7395ae;
}

.poll-overview:hover .poll-header {
  background-color: #557a95;
}

.poll-options {
  position: relative;
}

.poll-options span {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #5d5c61;
}

.poll-option {
  display: flex;
  flex-direction: row;
}

.poll-option:first-child {
  border-bottom: 1px solid #938e93;
}

.poll-option:last-child {
  text-align: right;
}

.poll-option>span {
  flex-grow: 1;
}

.poll-divider-container {
  position: relative;
}

span.poll-divider {
  position: absolute;
  left: 50%;
  bottom: -11px;
  width: 90px;
  padding: 0px;
  margin-left: -45px;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.answer-left,
.answer-right {
  margin: auto;
  flex-grow: 0;
  border-width: 20px;
  border-style: solid;
}

.answer-left {
  border-color: transparent transparent transparent #7395ae;
}

.answer-right {
  border-color: transparent #7395ae transparent transparent;
}

.additional-info {
  margin-top: auto;
}

.poll-detailed .poll-header {
  background-color: #557a95;
}

.poll-detailed .poll-option.unanswered {
  cursor: pointer;
}

.poll-detailed .poll-option.answered {
  cursor: default;
}

.poll-option.unanswered .answer-left,
.poll-option.unanswered .answer-right {
  visibility: hidden;
}

.poll-option.unanswered:hover .answer-left,
.poll-option.unanswered:hover .answer-right {
  visibility: visible;
}

.poll-option-data {
  flex-grow: 1;
}

.poll-option-data span.answer-text {
  font-size: 1.1em;
  font-weight: 600;
}

span.number-of-answers {
  padding-top: 0;
  font-size: 0.9em;
  font-weight: 400;
}

.poll-chart {
  padding: 10px;
  border-top: 1px solid #938e93;
}

/* User styles */

.user-header {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #938e93;
  font-family: 'Titillium Web', sans-serif;
}

.user-header-avatar {
  width: 100px;
  height: 100px;
}

.user-header-data {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.gold,
.silver,
.bronze {
  position: absolute;
  right: -80px;
  top: -80px;
  width: 80px;
  height: 80px;
  border-width: 40px;
  border-style: solid;
  transform: rotate(45deg);
}

.gold {
  border-color: transparent transparent #d4af37 transparent;
}

.silver {
  border-color: transparent transparent #c0c0c0 transparent;
}

.bronze {
  border-color: transparent transparent #9f7a34 transparent;
}

.stat-header {
  background-color: #557a95;
}

.stat-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.stat-row:first-child {
  margin-top: 10px;
}

.stat-row span:first-child {
  width: 200px;
  margin-right: 1em;
  flex-grow: 0;
  text-align: left;
}

.stat-row span:nth-last-child(2) {
  width: 50px;
  margin-right: 1em;
  flex-grow: 0;
  text-align: right;
}

.stat-row span:last-child {
  flex-grow: 1;
  text-align: left;
}

.stat-row:nth-last-child(2) span:nth-last-child(2) {
  border-bottom: 1px solid #938e93;
}

.total-row {
  margin-bottom: 10px;
  font-weight: 600;
}

/* Input styles */

.input-wrapper {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #938e93;
  transition-property: border-bottom;
  transition-duration: 0.5s;
}

input {
  width: 100%;
  border-width: 0px;
  border-radius: 5px;
  margin-top: 1.5em;
  color: #5d5c61;
}

input,
.input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
}

input:focus {
  outline: none;
}

.input-option {
  padding: 10px;
}

.input-option {
  padding-bottom: 3em;
}

.input-placeholder {
  position: absolute;
  top: 1.5em;
  left: 0;
  color: #938e93;
  transition-property: top, font-size, color;
  transition-duration: 0.5s;
}

.input-wrapper.input-active {
  border-bottom: 1px solid #7395ae;
}

.input-placeholder.input-active {
  color: #7395ae;
}

.input-placeholder.input-active,
.input-placeholder.input-filled {
  top: 0;
  font-size: 0.8em;
}

.input-warning {
  position: absolute;
  bottom: -1.5em;
  font-size: 0.8em;
  color: #e27d60;
}

.input-submit {
  padding: 10px;
}

.input-submit button {
  width: 100%;
  padding: 10px;
  border: 1px solid #938e93;
  border-radius: 5px;
  background-color: #7395ae;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
}

.input-submit button:hover {
  background-color: #557a95;
}

.input-submit button:disabled {
  border: 1px solid #ebeaee;
  background-color: #ebeaee;
  color: #938e93;
  cursor: default;
}

.avatar-picker div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatar-picker-icon {
  width: 40px;
  height: 40px;
}

.avatar-picker-avatar {
  width: 80px;
  height: 80px;
}
